# Platform-specific requirements section
pip>=23.3,<24.1
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'

# Core dependencies
PyYAML
torch==2.3.1
tqdm
torchvision==0.18.1
torchaudio==2.3.1
faiss-cpu>=1.7.3

# Machine learning, NLP and deep learning
fairseq==0.12.2; python_version == '3.10'
fairseq @ git+https://github.com/One-sixth/fairseq.git; python_version > '3.10'
scikit-learn
einops

# Pitch and sound processing
librosa>=0.10.2
pydub
praat-parselmouth
soundfile
pedalboard

# Data processing and calculation
numpy==1.25.2
numba
scipy
pandas
matplotlib==3.7.2

# Implementation and web framework
gradio>=5.12.0
requests
aiohttp

# Utility section
yt-dlp
ffmpy==0.3.1
ffmpeg-python>=0.2.0
beautifulsoup4

# Tensorboard and ONNX
tensorboard
tensorboardX
onnx>=1.14
onnx2torch>=1.5

# Cryptography section
pycryptodome==3.9.6